@charset "UTF-8";

/* paleta de cores
pele #A67951
pele escuro #593D25
pele rosa #D9A171
pele claro #F2D3AC
preto #0D0407
*/

*{
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body , html {
    background-color: #D9A171;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

    background-image: linear-gradient( to bottom, black, #0d0407);
    height: 500px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.856);
}

section#login > div#imagem {
    display: block;
    background:#A67951 url(../imagens/pexels-lalesh-aldarwish-147634.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 250px; 
    
}

div#formulario{
    display: block;
    padding: 20px;
    color: #F2D3AC;
}