@charset "UTF-8";

/* paleta de cores
pele #A67951
pele escuro #593D25
pele rosa #D9A171
pele claro #F2D3AC
preto #0D0407
*/

*{
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body , html {
    background-color: #D9A171;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-image: linear-gradient( to bottom, black, #0d0407);
    height: 550px;
    width: 270px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.856);

    transform: translate(-50%,-50%);
    transition: width .2s, heigth .2s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background:#A67951 url(../imagens/pexels-lalesh-aldarwish-147634.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 210px; 
    
}

div#formulario{
    display: block;
    padding: 20px;
    color: #F2D3AC;
}

div#formulario > h1{
    text-align: center;
}

div#formulario > p{
    font-size: 0.8em;
    padding: 5px;
}

div.campo{
    background-color: #D9A171;
    color: #0d0407;
    border-radius: 5px;
    margin: 5px 0px;
}

form label{
    display: none;
}

div.campo > span{
    width: 30px;
    height: 30px;
    font-size: 2em;
    padding: 0px 5px;
    margin: auto;

    transform: translateY(7px);
}

div.campo > input{
    background-color: #0d0407;
    height: 48px;
    width: calc(100% - 49px);
    border-radius: 5px;
    border: none;
    transform: translateY(-.7px);
}

div.campo > input:focus-visible{
    background-color: #F2D3AC;
    border: none;
    padding-left: 4px;
    outline: none;
}

form > input[type=submit]{
    display: block;
    background-color: #A67951;
    color: #0d0407;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 1.5em;
    border: none;
    margin: 5px 0px;
}

form > input[type=submit]:hover{
    background-color: #F2D3AC;
    cursor: pointer;
}

form > a > span{
    transform: translateY(5px);
}

form> a.botao{
    display: block;
    background-color:#0d0407;
    color: #A67951;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #F2D3AC;
    font-size: 1em;
    padding: 5px;
}

a.botao:hover{
    background-color:#F2D3AC;
    color: #0d0407;
    border: none;
}



